
<div class="row col-md-12 top">

  <h1><%= @recipe.name %></h1>
</div>
<div class="row">


<div class="col-md-6">

<h3>Rating: <%= @recipe.rating %></h3>
<h3>Recipe Tag: <%= @recipe.food_tags.first.name %></h3>
<h4>Here are the ingredients for this recipe:</h4>
<% if @recipe.ingredients.any? %>
<% @recipe.ingredients.sort_name.each do |ingredient| %>
<ul>
  <li>
    <%= link_to ingredient.name, recipe_ingredient_path(@recipe, ingredient) %>
  </li>
</ul>
<% end %>
<% else %>
<p>No ingredients are listed for this recipe.</p>
<% end %>


<p class="btn btn-info"><%= link_to "Add an ingredient", new_recipe_ingredient_path(@recipe) %></p>

</div>
<div class="col-md-6 right">

<% if @recipe.instruction != nil %>
<h3>Instructions:</h3>

<p><%= @recipe.instruction %></p>

<% else %>
<h4>There are no instructions yet!</h4>

<% end %>
</div>
</div>
<hr>
<p><%= link_to "Edit", edit_recipe_path(@recipe) %> |
  <%= link_to "Delete recipe", recipe_path(@recipe),
  :data => {:confirm => "Are you sure?",
  :method => "delete"} %> |
  <%= link_to "Return to recipes", recipes_path %></p>
