<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="/recipes.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="jumbotron">
    <h1>EPICODIERIOUS BOOK OF RECIPIES</h1>
  </div>
  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    <a href="/">HOME!</a>
  </div>
</body>
</html>
